.form-container{
width: 600px;
margin: 30px auto;
border: 1px solid #95a0a7;
box-sizing: border-box;
border-radius: 8px;
display: flex;
justify-content: center;
}

.form-title{
    font-size: 35px;
    font-weight: 400;
    color: #2a414f;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.form-link{
    color: #ff9900;
    text-decoration: none;
}

.hr {
    width: 200px;
}

.or-div {
    margin: 0 10px;
}

.or{
    display: flex;
    align-items: center;
}

.google-button{
    width: 415px;
    height: 55px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
}